.card-game {
    ont-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.button-box {
    margin-top: 50px;
}

.action-button {
    width: 260px;
}