
.edit-page {
    width: 100%;
    margin-top: -30px;
    ont-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.edit-page-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-box {
    margin-top: 50px;
}

.action-button {
    width: 260px;
}

.add-category-button {
    min-width: 100px;
    padding-top: 43px;
    margin-left: 40px;
}

.category-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-edit {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.category-edit-field {
    width: 310px;
}

.save-category-btn {
    display: flex;
    margin-left: 40px;
}

.divider {
    width: 100%;
}

@media (max-width: 400px) {

    .edit-page {
        max-width: 350px;
    }

    .category-content {
        margin-left: 10px;
    }

    .category-select-box {
        width: 220px !important;
    }

    .category-edit-field {
        width: 220px;
    }

    .add-category-button {
        margin-left: 10px;
    }

    .save-category-btn {
        display: flex;
        margin-left: 10px;
    }

    .divider {
        width: 40%;
    }
}